
.env
/llama3
envcom.txt
CLItest.py
.DS_Store
model_sand_box.py
readmeTemplate.rtf
prompts.json
cursepositiontest.py
test.json
mtest.py
results.json
/videos
/__pycache__
*.pyc
gptAlternativeVersion.py
test.py
/__pycache__
